/* styles.css */

/* Estilo para o cabeçalho */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*

.body {
    font-family: 'poppins',sans-serif;
}
.site-header {
    background-color: #030E4F;
    color: #F49F1C;
    padding: 15px;
    position: fixed; 
    top: 0;
    left: 0; 
    font-family: 'poppins',sans-serif;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-title {
    font-size:50px;
    font-weight: bold;
}


.site-nav a {
    text-decoration: none;
    color: #F49F1C;
    margin-right: 20px;
    padding: 30px;
    font-size: 20px;
    
}



.site-footer {
    background-color: #030E4F; 
    color: #F49F1C; 
    text-align: center;
    padding: 10px;
    font-family: 'poppins',sans-serif;
    position: fixed; /* Fixa o rodapé no final da página */
    bottom: 0; /* Alinha o rodapé à parte inferior */
    left: 0;
    width: 100%; /* Define a largura do rodapé */
}

/* Estilo para o texto do rodapé */
.footer-text {
    font-size: 20px;
    font-weight: bold;
}

/* IMAGENS CENTRO */

.conteiner {
    display: flex;
    justify-content: center; /* alinhamento horizontal central */
    padding-top: 250px;
    text-align: center;
    font-family: 'poppins',sans-serif;

}

.conteiner .cadastrar{
    font-size: 20px;
    font-weight: bold;
}

.conteiner .consultar{
    font-size: 20px;  
    font-weight: bold;
    align-items: center;
}

/* Estilo base do formulário */
.formulario {
    margin: 20px auto;
    width: 400px;
    padding-top: 200px;
    border-radius: 5px;
    background-color: #ffffff;
    padding-bottom: 150px;
    
  }
  
  /* Estilos para labels e inputs */
  .formulario label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
  }
  
  .formulario input[type="text"],
  .formulario select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
  }
  
  /* Estilos para o botão */
  .formulario button[type="submit"] {
    background-color: #F49F1C;
    font-size: 20px;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor:pointer;
    transition: background-color 0.2s ease-in-out;
    display: block;
    margin: 0 auto;

      
  }
  
  .formulario button[type="submit"]:hover {
    background-color: #e08c10;
  }
  
  /* Estilo para a div de resultado */
  #resultado {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    color: #333;

  }
  
  /* Estilo para linha de input */
  .formulario div {
    margin-bottom: 15px;
  }
  

 .container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .formularioBusca {
  width: 300px; 
  padding: 20px;
  border: 1px solid #ccc;
  text-align: center; 
}

/* Estilo para o botão */
.botao button[type="button"] {
  background-color: #F49F1C;
  font-size: 20px;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  display: block;
  margin: 0 auto;
}

.botao button[type="button"]:hover {
  background-color: #e08c10;
}

#atendimento {
  text-align: center;
  border: 2px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
}

#atendimento h1 {
  margin-top: 0;
}

#areadetexto {
  margin-top: 10px;
}

#resultado {
  margin-top: 20px;
}

/* Estilo extra para melhorar a aparência dos selects e textarea */
select, textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
